:root {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --bg-content: #eef1f4;
  --bg-sample: #888888;
  --bg-sample2: #dae1e7;
  --transition-speed: 600ms;
  --max-width: 1260px;
}

html {
  margin: 0 auto;
}
body {
  color: black;
  background-color: var(--bg-content);
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}

main {
  margin-left: 3rem;
  padding: 1rem;
}

#container {
  /* width: var(--max-width); */
  /* border: goldenrod 2px solid; */
  /* height: 675px;
  background-color: #318fb5;
  overflow: hidden; */
  width: 1280px;
  height: 695px;
  margin: 0 auto;
  background: var(--bg-primary);
  position: absolute;
  left: 23%;
  top: 38%;
  margin-left: -250px;
  margin-top: -250px;
  border-radius: 10px;
}

#player {
  width: 1260px;
  height: 675px;
  margin: 0 auto;
  background: var(--bg-content);
  position: absolute;
  left: 20.2%;
  top: 37.5%;
  margin-left: -250px;
  margin-top: -250px;
  overflow-y: scroll;
  border-radius: 10px;
}
.main-container {
  display: grid;
  grid-template-columns: 822px 377px;
}

.fontaws {
  font-size: 20px;
  margin: 0 1.5rem;
}

.sectionpy {
  padding-bottom: 150px;
}
.navbar {
  position: fixed;
  background-color: var(--bg-primary);
  transition: width 600ms ease;
  overflow: scroll;
  height: 675px;
  margin-top: 4.2%;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 60px;
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 4rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
  border-bottom: #999 0.001rem solid;
  justify-content: center;
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}

.link-text {
  display: none;
  margin-left: 1rem;
}

.nav-link svg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
  justify-content: center;
}

.fa-primary {
  color: #00bcd4;
}

.fa-secondary {
  color: #318fb5;
}

.fa-primary,
.fa-secondary {
  transition: var(--transition-speed);
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

.logo svg {
  transform: rotate(0deg);
  transition: var(--transition-speed);
}

.logo-text {
  display: inline;
  position: absolute;
  left: -999px;
  transition: var(--transition-speed);
}

/* .navbar:hover .logo svg {
  transform: rotate(-180deg);
} */

.content {
  overflow-y: scroll;
  /* height: 65vh; */
  padding: 0 1rem;
  text-align: justify;
}

#gallery img {
  width: 100%;
}
h1 {
  color: #1537c9;
  text-transform: uppercase;
}

.heroimage {
  width: 50%;
}

.sidepane {
  background-color: var(--bg-sample2);
  overflow: hidden;
  position: fixed;
  width: 25%;
  top: 9%;
  left: 68%;
}

/* Wizzlet Stat */

#wizzlets {
  height: 655px;
  overflow-y: scroll;
}

.whead {
  line-height: 20px;
  margin: 0px;
  padding: 16px 16px 0px;
}
.wheader {
  font-size: 14px;
  color: #579613;
  line-height: 32px;
  vertical-align: baseline;
  letter-spacing: normal;
  word-spacing: 0px;
  margin: 0px;
  padding: 0px;
  text-transform: uppercase;
}
.wbody {
  line-height: 20px;
  vertical-align: baseline;
  letter-spacing: normal;
  word-spacing: 0px;
  margin: 0px 0px 16px;
  padding: 16px 16px 0px;
}
.wavatar {
  color: #adadad;
  font-size: 48px;
  padding: 12px 0px 14px;
  text-transform: uppercase;
}
.wtitle {
  font-size: 14px;
  color: rgb(43, 43, 43);
  display: block;
  line-height: 21px;
  text-transform: uppercase;
  margin-bottom: 4px;
  font-weight: 500;
}
.wsupertitle {
  color: #5a5a5a;
  font-size: 15px;
  line-height: 21px;
  vertical-align: baseline;
  letter-spacing: normal;
  word-spacing: 0px;
  margin: 0px;
  padding: 0px;
  font-weight: 400;
  text-transform: none;
}
.wtitlebox {
  line-height: 20px;
  vertical-align: baseline;
  letter-spacing: normal;
  word-spacing: 0px;
  margin: 0px;
  padding: 0px;
}

/* Footer */

#footer {
  background: #fff;
  position: sticky;
  bottom: 0;
  z-index: 2;
  box-shadow: 1px 1px 4px 1px #464646;
  font-size: 13px;
  height: 28px;
  margin-left: 3.8rem;
  padding: 1rem;
}

#footer span {
  color: blue;
  text-transform: uppercase;
}

#footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* Small screens */
@media only screen and (max-width: 600px) {
  .main-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
  }
  #container {
    width: auto;
    height: 675px;
    /* border: goldenrod 2px solid; */
  }

  .heroimage {
    width: auto;
  }

  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
    z-index: 2;
  }

  .logo {
    display: none;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
  }

  main {
    margin: 0;
  }

  #footer {
    display: none;
  }
}

/* Large screens */
@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 60px;
    /* height: 100vh; */
  }

  /* .navbar:hover {
    width: 16rem;
  } */

  /* .navbar:hover .link-text {
    display: inline;
  } */

  /* .navbar:hover .logo svg {
    margin-left: 11rem;
  } */

  .navbar:hover .logo-text {
    left: 0px;
  }
}

.dark {
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
}

.light {
  --text-primary: #1f1f1f;
  --text-secondary: #000000;
  --bg-primary: #ffffff;
  --bg-secondary: #e4e4e4;
}

.solar {
  --text-primary: #576e75;
  --text-secondary: #35535c;
  --bg-primary: #fdf6e3;
  --bg-secondary: #f5e5b8;
}

.theme-icon {
  display: none;
}

.dark #darkIcon {
  display: block;
}

.light #lightIcon {
  display: block;
}

.solar #solarIcon {
  display: block;
}
